:root {
  --theme-light: #afa290;
  --theme-dark: black;

  --theme-text: #afa290;
  --theme-contrast: black;

  --space-large: 2rem;
  --space-medium: 1rem;
  --space-small: 0.5rem;

  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

html {
  font-size: 14px;
}

@media screen and (min-width: 55rem) {
  html {
    font-size: 22px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  font-size: var(--step-0);
  font-display: swap;
}

h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-3);
}
h4 {
  font-size: var(--step-2);
}
h5 {
  font-size: var(--step-1);
}

small {
  font-size: var(--step--1);
}

nav {
  display: flex;
}

nav > * {
  margin: 0.25rem;
}

.page {
  grid-row: 2;
  grid-column: 3 / 4;
}

footer {
  grid-row: 3;
  grid-column: 3 / 4;
}

/* THEME COLOR */

body,
.theme {
  background-color: var(--theme-contrast);
  color: var(--theme-text);
}
a {
  color: var(--theme-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-text: #afa290;
    --theme-contrast: black;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-text: black;
    --theme-contrast: #afa290;
  }
}
